* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding-bottom: 15px;
  font-size: 35px;
}

.card {
  width: 350px;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
}

.card_image img {
  width: 100%;
}

.card_contacts {
  margin-bottom: 20px;
}

.card_contacts h2 {
  margin: 15px;
}

table td {
  padding: 5px;
}

.card_icons {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.icon {
  padding: 15px;
}

.l-grey {
  color: #ccc;
}

.d-grey {
  color: #999;
}

#white1 {
  padding-left: 30px;
}

#grey1 {
  padding-left: 20px;
}
